.signup-form {

	&>.form-textinput-field[data-inputid="individual-state"],
	&>.form-textinput-field[data-inputid="individual-country"] {
		grid-column: span 1;
	}

	&>.custom-button[type="submit"] {
		--custom-button-font-weight: 500;

		margin-block-start: 1.5rem;
	}

}
