.dashboard {
	--dashboard-padding: 1.25rem 1.5rem;
	--dashboard-nav-width: 300px;
	display: grid;


	/* INFO: GRID PLACEMENTS */
	grid-template-columns: 1fr;

	&>.dsidebar {
		grid-row: 1 / -1;
		grid-column: 1 / -1;
	}

	&>.dcontent {
		height: fit-content;
		grid-column: 1 / -1;
		grid-row: 1 / -1;
		width: 100%;
	}


	@media (min-width: 900px) {
		grid-template-columns: var(--dashboard-nav-width) 1fr;

		&>.dsidebar {
			grid-row: 1 / -1;
			grid-column: 1 / 2;
		}

		&>.dcontent {
			grid-row: span 1;
			grid-column: 2 / 3;
		}
	}
}
