.sstart {
	&-subheading {
		font-weight: 500;
		font-size: calc(var(--fs-md) * 1.25);
		margin-top: 0.5rem;
		color: var(--clr-primary-pressed);
	}


	&-signin-text {
		margin-top: 0.4rem;
	}

	&-signup-google {
		--icon-size: 20px;
		--custom-width: 100%;
		--custom-bg: transparent;
		--custom-clr: var(--clr-primary-pressed);
		--custom-border: 2px solid currentColor;
		--custom-gap: 0.35rem;
		--custom-padding: 0.8rem 0.9rem 0.85rem;
		--custom-gap: 0.5rem;
		--custom-margin: 1rem auto auto;
	}

	&-or {
		background:
			linear-gradient(90deg, transparent 0 calc(50% - 3ch),
				var(--clr-bg-primary) calc(50% - 3ch) calc(50% + 3ch),
				transparent calc(50% + 3ch)),
			linear-gradient(transparent 0 calc(50% - 2px),
				var(--clr-bg-secondary) calc(50% - 2px) calc(50% + 2px),
				transparent calc(50% + 1px));
		text-align: center;
		margin-top: 1.5rem;
	}

	&-form {
		display: grid;
		gap: 1.25rem;
		margin: 0.9rem auto auto;
	}

	&-terms-field {
		display: flex;
		gap: 0.25rem;
		align-items: start;
		line-height: 1.5;
		margin-top: 0.75rem;
	}

	&-terms-input {
		margin-top: 0.5ch;
		width: 25px;
		aspect-ratio: 1;
	}


	&-submit {
		margin: 0.5rem 0 0;
		--custom-padding: 0.8rem 2rem 0.85rem;
	}

	&-account-types {
		margin-top: 1.5rem;
		font-size: calc(var(--fs-md) * 1);
	}

}
