.vdetail {

	--vdetail-img-width: 150px;
	padding: 0.5rem 1rem;
	display: grid;
	gap: 2.5rem;
	grid-template-columns: minmax(var(--vdetail-img-width), auto) 1fr;
	grid-template-areas:
		"vdetail-user vdetail-detail"
		"vdetail-stats vdetail-stats"
	;
}

.vdetail-user {
	grid-area: vdetail-user;
	display: grid;
	gap: 0.25rem;
	align-self: start;

	&-image {
		width: var(--vdetail-img-width);
		height: var(--vdetail-img-width);
		aspect-ratio: 1;
		background: var(--clr-primary-border);
		border-radius: 50%;
		border: 4px solid var(--clr-bg-secondary);
		box-shadow: 0 1px 5px -4px var(--clr-primary-hover);
	}

	&-name {
		font-weight: 500;
		line-height: 0.95;
		letter-spacing: -0.5px;
		font-size: calc(var(--fs-md) * 1.5);
		margin-top: 0.5rem;
	}

	&-location {
		font-weight: 500;
	}

}

.vdetail-detail {
	&-list {
		grid-area: vdetail-detail;
		display: grid;
		gap: 0.15rem;
		line-height: 1.5;
	}

	&-title {
		font-weight: 500;
		font-size: calc(var(--fs-md) * 1.5);
		line-height: 1.45;

		*+& {
			margin-top: 1.5rem;
		}
	}
}

.vdetail-stats {
	grid-area: vdetail-stats;
	width: min(600px, 100%);
	margin-inline: auto;
}


.vdetail-stat {
	display: flex;
	flex-flow: row wrap;
	gap: 0.25rem 0.5rem;
	align-items: center;
	justify-content: space-between;
	padding: 0.75rem 0;
	font-weight: 500;

	&+& {
		border-block-start: 1px solid var(--clr-content-4);
	}


	&-title {
		color: var(--clr-content-2);
		margin-inline-end: auto;
	}


	&-value {
		margin-inline-start: auto;
	}
}
