.signup {

    display: flex;
    width: 100%;
    min-height: 100vh;

    &-sidebar {
        display: none;
        flex-basis: min(50vw, 500px);
        place-content: center;
        place-items: center;
        background: var(--clr-primary-bg);
        position: sticky;
        top: 0;
        height: 100vh;
        padding: 0.5rem 0.75rem 0.6rem;
        font-size: calc(var(--fs-display-lg) * 1.05);
        font-weight: 600;
        line-height: 1.15;

        @media (min-width: 1024px) {
            display: flex;
        }
    }


    &-title-span {
        color: var(--clr-primary-pressed);
    }


    &-decoration {
        position: fixed;
        inset: 0 0 auto auto;

    }


}


.signup-form {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.65rem 0.75rem;
    margin-top: 1rem;
    font-size: 0.95rem;

    &>* {
        grid-column: span 2;
    }

    &-submit {

        margin: 0.5rem auto auto;
        padding: 0.75rem 1rem 0.9rem;
        width: min(300px, 70vw);
        background: var(--clr-primary-pressed);
        cursor: pointer;
        border: 0px;
        border-radius: 0.5rem;
        color: var(--clr-bg-primary);


        &:focus-visible {
            outline: 2px solid var(--clr-primary-bg);
            outline-offset: -4px;
        }

    }

    &-heading {
        font-size: calc(var(--fs-display-md) * 1);
        font-weight: 500;
        line-height: 1.15;
        text-align: center;
        text-transform: uppercase;
    }

    &-section {
        margin: auto;
        padding: 0rem 0 1rem;
        width: min(550px, 90%);
    }



}
