.signup-form {
    display: flex;
    flex-flow: row wrap;
    place-content: space-between;
    gap: 0.5rem 0;
    margin-top: var(--space-xs);
    accent-color: var(--clr-primary);

    &-wrapper {
        display: grid;
        gap: var(--space-2xs);
        max-width: min(500px, 100%);
        margin: auto;
    }


    &-heading {
        font-size: var(--step-4);
        font-weight: 500;
        line-height: 0.9;
    }


    &-input-field {
        display: grid;
        gap: var(--space-3xs);
        flex-basis: 100%;
    }

    &-input, &-select {
        padding: var(--space-2xs) var(--space-2xs);
        font-size: var(--step-n1);
        background: transparent;
        border: 1px solid var(--clr-gray-300);
        border-radius: 0.4rem;
    }

    &-select {
        width: 100%;
        appearance: none;
    }


    &-label {
        font-size: var(--step-n1);
    }


    &-select-field {
        display: grid;
        gap: var(--space-3xs);
        flex-basis: calc(50% - 10px);
    }

    &-select-wrapper {
        position: relative;
        display: flex;
    }

    &-select-arrow {
        --icon-size: 28px;

        position: absolute;
        inset: 50% var(--space-3xs) auto auto;
        translate: 0 -50%;
        pointer-events: none;
    }



    &-submit {
        margin-top: var(--space-xs);
        width: min(100%, 200px);
        text-align: center;
        margin-inline: auto;
    }

}
