.form-textinput {

	&-field {
		--gap: 0.15rem;
		--padding: var(--custom-input-padding, 0.45rem 0.75rem 0.55rem);
		--border-color: var(--clr-border);
		--radius: 5px;

		display: grid;
		gap: var(--gap);
	}

	&-label {
		width: fit-content;
	}

	&-input,
	&-reveal {
		grid-row: 2 / 3;
	}

	&-input {
		padding: var(--padding);
		border: 1px solid var(--border-color);
		border-radius: var(--radius);
		background: var(--clr-bg-primary);
	}

	&-input[type="number"] {
		appearance: none;
	}

	&-input[data-type="password"],
	&-reveal {
		grid-column: 1 / -1;
		grid-row: 2 / 3;
	}

	&-reveal {
		--icon-size: 20px;
		align-self: center;
		justify-self: end;
		background: none;
		outline: none;
		border: none;
		width: fit-content;
		margin-inline-end: 10px;
		color: var(--clr-content-3);
	}

	&-select {
		padding: var(--padding);
		border: 1px solid var(--border-color);
		border-radius: var(--radius);
		background: var(--clr-bg-primary);
	}

	&-textarea {
		padding: var(--padding);
		border: 1px solid var(--border-color);
		border-radius: var(--radius);
		resize: vertical;
		min-height: min(100px);
		background: var(--clr-bg-primary);
	}
}
