.dashboard {
	--dashboard-padding: 1.25rem 1.5rem;
	--dashboard-nav-width: 300px;
	display: grid;


	/* INFO: GRID PLACEMENTS */
	grid-template-columns: 1fr;

	&>.dsidebar {
		grid-row: 1 / -1;
		grid-column: 1 / -1;
	}

	&>.dcontent {
		height: fit-content;
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}


	@media (min-width: 900px) {
		grid-template-columns: var(--dashboard-nav-width) 1fr;

		&>.dsidebar {
			grid-row: 1 / -1;
			grid-column: 1 / 2;
		}

		&>.dcontent {
			grid-row: span 1;
			grid-column: 2 / 3;
		}
	}
}

.dsidebar {
	--sidebar-padding: 0.65rem 0.75rem 0.75rem;

	display: grid;
	gap: 1.5rem;
	align-content: start;
	justify-self: strech;
	background: var(--clr-bg-grey);
	height: 100vh;
	max-width: var(--dashboard-nav-width);
	overflow-y: auto;
	position: sticky;
	top: 0;
	z-index: var(--z-nav);
	transition: 200ms ease-in-out;
	overscroll-behavior-y: contain;

	// TODO: next line for mobile-nav
	transform: translateX(-100%);

	padding: var(--dashboard-padding);
	scrollbar-width: thin;

	&[data-open=true] {
		transform: translateX(0);
	}

	@media (min-width: 900px) {
		transform: translate(0);
		transition: none;
	}

	&-logo {
		width: 200px;
	}

	&-hospital {
		display: flex;
		flex-flow: row;
		align-items: start;
		gap: 0.5rem;
		background: transparent;
		border: 2px solid var(--clr-bg-secondary);
		padding: var(--sidebar-padding);
		border-radius: 0.75rem;
		color: var(--clr-bg);
	}

	&-hospital-content {
		display: grid;
		gap: 0px;
	}

	&-hospital-logo {}

	&-hospital-name {
		color: var(--clr-content-5);
		font-size: calc(var(--fs-sm) * 1.25);
		font-weight: 500;
		letter-spacing: -0.25px;
	}


	&-hospital-location {
		font-size: calc(var(--fs-sm) * 1.05);
	}


	&-linkgroup {
		margin-top: 1rem;
		display: grid;
		gap: 0.5rem;


		&+& {
			margin-top: 1.5rem;
		}

		&#dsidebar-linkgroup-settings {
			padding-block: 1.5rem 1rem;
			border-top: 2px solid var(--clr-bg-secondary);
		}
	}

	&-linkgroup-heading {
		//margin-block: 0.5rem 0.35rem;
		padding: 0.25rem 0.85rem 0.1rem;
	}

	&-link-list,
	&-link-li {
		display: contents;
	}

	&-linkgroup-heading {
		font-weight: 400;
		color: var(--clr-bg);
		line-height: 1.5;
		text-transform: uppercase;

	}

}


[data-slink="wrapper"] {
	--icon-size: 25px;
	display: flex;
	flex-flow: row;
	align-items: center;
	gap: 0.35rem;
	background: transparent;
	padding: 0.65rem 0.85rem 0.7rem;
	border-radius: 0.75rem;
	font-size: calc(var(--fs-sm) * 1.25);
	font-weight: 500;

	[data-slink="text"] {
		line-height: 0.9;
		margin-top: 0rem;
	}

	[data-slink="icon"] {
		color: var(--clr-bg);
	}


	&[aria-current="page"] {
		background: var(--clr-primary-border);
		color: var(--clr-primary-pressed);

		[data-slink="icon"] {
			color: currentColor;
		}
	}

}





.dheader {

	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1.25rem 0.25rem;
	padding: 1rem 1.5rem 1.25rem;
	border-bottom: 1px solid var(--clr-bg-secondary);


	&-profile,
	&-search,
	&-psummary {
		display: flex;
		flex-flow: row;
		align-items: center;
		gap: 0.25rem;
	}


	&-title {
		font-size: calc(1.5 * var(--fs-sm));
		font-weight: 500;
	}


	&-search {
		display: grid;
		isolation: isolate;
		align-items: center;
	}

	&-slabel,
	&-sinput {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}

	&-slabel {
		--icon-size: 1.75rem;
		color: var(--clr-bg);
		justify-self: start;
		z-index: var(--z-home);
		margin-left: 0.95rem;
	}

	&-sinput {
		padding: 0.85rem 1.25rem 0.9rem 3rem;
		background: var(--clr-bg-grey);
		border-radius: 2rem;
		border: 1px solid var(--clr-stroke);
		width: min(400px, 80vw);

	}

	&-profile {
		gap: 1rem;
		//margin-left: auto;
	}


	&-pbutton {
		--icon-size: 25px;
		background: none;
		border: 0.85px solid var(--clr-stroke);
		border-radius: 50%;
		aspect-ratio: 1;
		color: var(--clr-bg);
		padding: 0.5rem;
		display: flex;
		place-items: center;
		place-content: center;

		&:hover {
			color: var(--clr-primary-pressed);
		}
	}


	&-pimg {
		width: 60px;
		object-fit: cover;
		background: none;
		border: 0.85px solid var(--clr-stroke);
		border-radius: 50%;
		aspect-ratio: 1;
		padding: 0.5rem;
		display: flex;
		place-items: center;
		place-content: center;
	}


	&-pname {
		font-weight: 500;
		font-size: calc(1.35 * var(--fs-sm));
	}

	&-ptype {
		color: var(--clr-bg);
	}

	&-pdown-arrow {
		margin-top: 0.25rem;
		align-self: start;
		color: var(--clr-bg);
		transform: rotate(-90deg);
		transition: 100ms ease-out;
	}


	&-puser[open] &-pdown-arrow {
		transform: none;
	}

}


.dbody {
	padding: 1.25rem;
}

.padmin {
	display: grid;
	align-content: start;
	gap: 1.25rem 1.25rem;
	--padding-inline: 1.25rem;
	--padding-block: 0.75rem 1.5rem;


	@media (min-width: 1150px) {
		grid-template-columns: 4fr 2fr 4fr;



		[data-span="1"] {
			grid-column: span 1;
		}

		[data-span="2"] {
			grid-column: span 2;
		}
	}
}




.padmin-over {
	padding-block: var(--padding-block);
	display: grid;
	align-content: start;
	border-radius: 1rem;
	border: 1px solid var(--clr-bg-secondary);
	color: var(--clr-content-6);

	&>* {
		padding-inline: var(--padding-inline);
	}

	&-greeting {
		font-size: calc(2 * var(--fs-sm));
		font-weight: 600;
		color: var(--clr-content-2);
	}

	&-text {
		margin-top: 0.05rem;
		line-height: 1.2;
	}

	&-list {
		display: flex;
		flex-flow: row wrap;
		gap: 1rem 1.5rem;
		margin-top: 1.5rem;
	}


	&-field {
		display: flex;
		flex-flow: column;
		align-items: start;
		gap: 0.25rem;
	}

	&-number {
		order: -1;
		font-weight: 600;
		font-size: calc(2 * var(--fs-md));
		line-height: 0.95;
		color: var(--clr-content-2);
	}


	&-messages {
		display: grid;
		margin-top: 1.25rem;
		list-style: none;
		padding-inline: 0;
	}


	&-li {
		padding-inline: var(--padding-inline);
		padding-block: 0.75rem;
		display: flex;
		align-items: center;
		gap: 0.5rem;

		border-top: 1px solid var(--clr-bg-secondary);

		&:before {
			content: "";
			width: 12.5px;
			aspect-ratio: 1;
			background: var(--clr-indigo);
			border-radius: 50%;
		}

	}
}



.padmin-dchart {
	padding-block: var(--padding-block);
	border-radius: 1rem;
	border: 1px solid var(--clr-bg-secondary);
	overflow-x: auto;


	&-header,
	&-filters {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}

	&-header {
		justify-content: space-between;
		padding-inline: var(--padding-inline);
	}

	&-title {
		font-size: calc(1.75 * var(--fs-sm));
	}


	&-filters {
		gap: 1.5rem 0.5rem;
		align-items: start;
	}

	&-chart {
		margin-inline: auto;
	}


}


.padmin-highs {
	display: grid;
	padding-inline: var(--padding-inline);
	padding-block: var(--padding-block);
	border-radius: 1rem;
	border: 1px solid var(--clr-bg-secondary);
	align-self: start;


	&-tabs {
		display: flex;
		flex-flow: row wrap;
		gap: 0.5rem;
		margin-top: 0.25rem;


		a[role="tab"] {
			flex-basis: 15ch;
			padding: 0.5rem 0.25rem;
			border-radius: 0.5rem;
			font-weight: 400;
			color: var(--clr-content-6);
			text-align: center;

			&[aria-selected="true"] {
				font-weight: 600;
				color: var(--clr-content-2);
				background: var(--clr-lblue);
			}
		}
	}

	&-tabli {
		display: contents;
	}

	&-tabpanels {
		padding-block: var(--padding-block) 0;
		margin-top: 1rem;
	}

	&-tabpanel {
		display: grid;

		&[aria-hidden="true"] {
			display: none;
		}
	}


	&-insights {
		display: grid;
		gap: 0.75rem;
	}

	&-insight {
		padding-inline: var(--padding-inline);
		padding-block: 0.75rem 0.8rem;
		background: var(--clr-lblue);
		display: flex;
		align-items: start;
		border-radius: 0.5rem;
		text-wrap: balance;
		gap: 0.5rem;
		width: fit-content;


		&:before {
			content: "";
			width: 15px;
			aspect-ratio: 1;
			background: var(--clr-indigo);
			border-radius: 50%;
			margin-top: 0.35rem;
		}
	}


	&-button {
		--icon-size: 2ch;
		width: fit-content;
		display: flex;
		align-items: center;
		font-size: calc(var(--fs-sm) * 1.5);
		margin: 1.25rem 0 0 auto;
	}
}


.padmin-apps {
	display: grid;
	align-content: start;
	padding-block: var(--padding-block);
	border-radius: 1rem;
	border: 1px solid var(--clr-bg-secondary);

	&-calendar {
		display: grid;
		gap: 0.25rem;
		padding-block: 0.5rem 0.65rem;
		font-size: calc(var(--fs-sm) * 1.25);
		background: var(--clr-lblue);

		thead {
			font-weight: 400;
			color: var(--clr-content-6);
		}

		tr {
			display: flex;
			align-items: center;
			text-align: center;
			justify-content: space-evenly;
		}

		td,
		th {
			width: 2.5ch;
			aspect-ratio: 1;
		}

		td {
			color: var(--clr-content-5);
			font-weight: 500;

			&[data-active=true] {
				color: var(--clr-bg-primary);
				border-radius: 50%;
				background: var(--clr-primary-pressed);
			}

		}
	}

	&-list {
		display: grid;
		gap: 0.25rem;
		padding: 1rem var(--padding-inline);
		margin-top: 0.75rem;
	}

	&-header {
		padding: 0.25rem var(--padding-inline) 1.25rem;
		display: flex;
		gap: 0.5rem 1.5rem;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
	}

	&-title {
		font-size: calc(var(--fs-md) * 1.75);
		font-weight: 500;
	}

	&-view-all {
		--icon-size: 2ch;
		width: fit-content;
		display: flex;
		align-items: center;
		line-height: 1;
		font-size: calc(var(--fs-sm) * 1.25);
	}
}


.appointment {

	&-info {
		display: grid;
		gap: 0.25rem;
		padding: 0.75rem 1rem;
		outline: 2px solid var(--clr-bg-grey);
		border-radius: 0.5rem;
		border-left: 3px solid var(--clr-primary-pressed);
	}

	&-statbar {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	&-button {
		color: var(--clr-primary-pressed);
	}
}



.padmin-incidence {
	padding: var(--padding-block) var(--padding-inline);
	border-radius: 1rem;
	border: 1px solid var(--clr-bg-secondary);
	overflow-x: auto;
	display: grid;
	align-content: start;
	gap: 0.25rem;

	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.25rem 0 1.25rem;
	}

	&-title {
		font-size: calc(var(--fs-md) * 1.75);
		font-weight: 500;
	}


	&-chart {
		max-width: min(400px, 90%);
		margin: 0.5rem auto 0.75rem;
	}
}

.padmin-pdepts {
	padding: var(--padding-block) var(--padding-inline);
	border-radius: 1rem;
	border: 1px solid var(--clr-bg-secondary);
	overflow-x: auto;
	display: grid;
	align-content: start;
	gap: 0.25rem;


	&-title {
		font-size: calc(var(--fs-md) * 1.75);
		font-weight: 500;
		margin-top: 0.25rem;

	}


	&-stats {
		display: flex;
		flex-flow: row wrap;
		gap: 0.5rem;
		margin-top: 0.75rem;
	}

	&-statsli {
		display: contents;
	}
}

.padmin-pseverities {
	margin-top: 1.25rem;
	display: grid;
	gap: 0.5rem;

	&-title {
		font-weight: 500;
		font-size: calc(var(--fs-sm) * 1.75);
		color: var(--clr-content-6);
	}


	&-list {
		display: grid;
		gap: 1.25rem;
		margin-top: 0.25rem;
	}

	&-li {
		display: contents;
	}

}


.cadmin-stat {
	background: var(--clr-lblue);
	display: grid;
	gap: 0.25rem;
	padding: 0.5rem 0.75rem;
	border-radius: 0.5rem;


	&-title {
		font-weight: 400;
	}

	&-content {
		font-size: calc(var(--fs-sm) * 1.75);
		font-weight: 600;
	}
}

.cadmin-severity {
	display: flex;
	gap: 0.5rem 1rem;
	flex-flow: row wrap;
	justify-content: space-between;

	&-name {
		font-weight: 500;
	}

	&-number {
		margin-inline-start: auto;
	}

	&-progress {
		cursor: pointer;
		flex-basis: 100%;
		height: 20px;
		border-radius: 10ch;
		border: 2px solid var(--clr-lblue);
		background:
			linear-gradient(90deg, var(--clr-primary-pressed) 0 calc(var(--percent, 0) * 1%), transparent 0);
	}
}


#dchart-filters,
#padmn-incidence-form {

	.form-textinput-label {
		display: none;
	}

	.form-textinput-select {
		padding-right: 2.5rem;
		padding-block: 0.45rem 0.5rem;
	}

	.form-textinput-field {
		width: fit-content;
	}
}
